@media (max-width: 375px){
    
    .imagem-mobile{
        display: block;
        border-radius: 5px 5px 0 0;
        filter: opacity(0.6) drop-shadow(0 0 0 hsl(277, 96%, 54%));
    }
    
    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        text-align: center;
    }
    
    .informacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .imagem-desktop{
        display: none;
    }
}