*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
}

.imagem-mobile{
    display: none;
}

.container {
    display: flex;
    width: 800px;
    height: 350px;
    margin: 100px auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
}

.imagem-desktop {
    width: 50%;
    border-radius: 0 5px 5px 0 ;
    filter: opacity(0.6) drop-shadow(0 0 0 hsl(277, 96%, 54%));
}

.descricao {
    padding: 50px;
}
.descricao h1 {
    font-size: 27px;
}
.descricao h1, h3 {
    color: hsl(0, 0%, 100%);
}

.descricao span {
    color: hsl(277, 64%, 61%);
}

.descricao p {
    width: 95%;
    margin: 20px 0;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 11.25px;
    line-height: 20px;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}

.informacoes h3{
    display: block;
    margin-bottom: -15px;
}

.informacoes p {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}